.container {
  text-align: center;
}

.table {
  background: white;
  text-align: center;
  font-size: 1.1em;
}

.table th, table tr , table td{
  border: 1px solid black; 
}

.table tr:hover {
  background-color: rgba(247, 5, 5, 0.278);
}

.table th {
  background-color: rgb(113, 101, 94);
  color: white; 
}

tr:nth-child(2n) {
  background-color: beige;
}

.editbuttons {
  display: inline-block;
  width: 100px;
}

#modify {
  height: 22px;
  width: 22px;
  background-image: url('../imgVid/edit.png');
  background-size: contain;
  border: none;
  margin: 5px;
}

#remove {
  height: 22px;
  width: 22px;
  background-image: url('../imgVid/remove.png');
  background-size: contain;
  border: none;
  margin: 5px;
}

#modify:hover, #remove:hover {
  margin-left: 10px;
}