.productscontainer {
  margin: 50px;
  margin-top: 100px;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5em;
  background-color: transparent;
  height: 700px;
  text-align: center;
  color: white;
}

.table {  
  background: rgb(197, 195, 195);
  text-align: center;
}

.table th, table tr , table td{
  border: 1px solid black; 
}

.table tr:hover {
  background-color: rgba(247, 5, 5, 0.278);
}

.table th {
  background-color: rgb(190, 4, 4);
  color: white; 
}

tr:nth-child(2n) {
  background-color: beige;
}

.editbuttons {
  display: inline-block;
  width: 100px;
}

#modify {
  height: 22px;
  width: 22px;
  background-image: url('../imgVid/edit.png');
  background-size: contain;
  border: none;
  margin: 5px;
}

#remove {
  height: 22px;
  width: 22px;
  background-image: url('../imgVid/remove.png');
  background-size: contain;
  border: none;
  margin: 5px;
}

#modify:hover, #remove:hover {
  margin-left: 10px;
}
