.productscontainer{
  width: 33.5%;
  position: relative;
  padding-left: 5%;
  font-size: 1.2em;
  background-color: white;
  border-radius: 10px;
  margin-top: 150px;
  opacity: 0.9;
}

h2 {
padding-top: 20px;
}

button {
margin-block-start: 10px;
margin-bottom: 25px;
}

.form-check-input {
  margin-left: 15px;
  border-color: black;
}

#savebtn{
  margin-left: 10px;
}