.main {
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  margin-bottom: 100px;
}

#header {
  font-size: 1.8em;
}

.swiper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.swiper-slide {
  text-align: center;
  background: #fff; 
  height: 500px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 5px;
  padding-bottom: 20px;
}

.swiper-slide img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  position: absolute;
  top: 0;
  margin-top: 180px;
  background-color: gray;
  left: -50px;
  padding-left: 35px;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  color: black;
  opacity: 0.7;

}

.swiper-button-next {
  position: absolute;
  top: 0;
  margin-top: 180px;
  background-color: gray;
  right: -50px;
  padding-right: 35px;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  color: black;
  opacity: 0.7;
}

/*----------- Tuotekortti --------------*/

.productcard {
  position: absolute;
  display:flow-root;
  color: black;
  top: 0;
  width: 100%;
}

#plogo {
  margin-top: 20%;
  height: 40px;
  width: 160px;
  object-fit: contain;
}

.productname {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 37%;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.imagecontainer {
  margin-top: 15%;
  height: 150px;
}

#bikepicture {
  width: 100%;
  height: 80%;
  object-fit: contain;
  transition: transform .2s ease-out;
  cursor: pointer;
}

#bikepicture:hover {
  display: block;
  transform: scale(1.4);
}

.productdescription {
  position: relative;
  height: 200px;
  font-size: 0.65em;
  padding-left: 5px;
  padding-right: 5px;
}
 
.bottomrack {
 position: relative;
}

.value {
  position: relative;
}

#productcart {
  position: absolute;
  color: red;
  right: 0;
  margin-right: 10px;
  margin-top: 25px;
  transition: transform .2s ease-out;
  cursor: pointer;
}

#productcart:hover {
  transform: scale(1.6);
}

@media screen and (max-width: 600px) {

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }
}