.main-footer {
    position:relative;
    bottom: 0;
    width: 100%;
   color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px -25px 20px -20px;
    padding-top: 40px;
    background-color: brown;

}

.up {
    position: relative;
}

.col{
    text-align: center;   
}

.col-sm{
    text-align: center;
    padding-top: 100px;
}

.logo1 { 

    width: 320px;
    padding: 1%;
    

}