.content {
  text-align: center;
  color: white;
}

.textcontainer {
  position: absolute;
  top: 0;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 550px;
}

h1{
  font-size: 50px;
  font-family: 'Cinzel', serif;
}

#homeFront{
  font-size: 30px;
  font-family: 'Special Elite', cursive;
}