form {
    background-image: url('../imgVid/LogoRotated.png');
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.loginBtn {
    margin-top: 35px;
    background-color: transparent;
    color: white;
    border: none;
}

.loginBtn:hover {
    color: red;
}

.loginImg {
    display: none;
}

.loginImg:hover {
    color: red;
}


.login {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 99;
}

.login-inner .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
    background: none;
    border: none;
    font-size: 1.4em;
}

.inputEmail,
.inputPW {
    width: 400px;
    margin-top: 8px;
    text-align: center;
}

.inputEmail {
    background-image: url("../imgVid/mail.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px;
}

.inputPW {
    background-image: url("../imgVid/padlock.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px;
}

.button-container {
    margin-top: 15px;
}

.register,
.register a {
    font-size: 0.9em;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.register a:hover {
    color: red;
}


@media (max-width: 992px) {
    .logintxt {
        display: none;
    }

    .loginImg {
        display: block;
        position: absolute;
        right: -120px;
        top: 30px;


        height: 30px;
        filter: invert(100%);
    }

    .login-inner {
        margin-top: 120px;
        margin-left: 8px;
        margin-right: 8px;
        padding: 15px;
    }

    .inputEmail,
    .inputPW {
        width: 95%;
    }

}