form {
    position: sticky;
    top: 0;
    background-image: url('../imgVid/LogoRotated.png');
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 150px;
}
.popupheader {
    margin-bottom: 0px;
}

.loginBtn {
    margin-top: 60px;
    background-color: transparent;
    color: white;
    border: none;
}

.loginBtn:hover {
    color: red;
}

.loginImg {
    display: none;
}

.loginImg:hover {
    color: red;
}

.login {
    color: black;
    position: absolute;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-inner {
    position: relative;
    width: 550px;
    max-width: 640px;
    background-color: #fff;
    border-radius: 5px;
}

.login-inner .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
    background: none;
    border: none;
    font-size: 1.0em;
}

.inputEmail,
.inputPW {
    margin-left: 20px;
    width: 400px;
    text-align: center;
}

.inputEmail {
    height: 28px;
    background-image: url("../imgVid/mail.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px;
}

.inputPW {
    height: 28px;
    background-image: url("../imgVid/padlock.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px;
}

.loginPopUpBtn {
    display: inline;
    border-radius: 5px;
    height: 62px;
    margin-right: 20px;
    margin-top: 32px;
}
.loginPopUpBtn:hover {
    background-color: red;
}
.close-btn {
    z-index: 5;
}

.register,
.register a {
    font-size: 0.9em;
    text-decoration: none;
}

.register a:hover {
    color: red;
}


@media (max-width: 992px) {
    .logintxt {
        display: none;
    }

    .loginImg {
        display: block;
        position: absolute;
        right: -120px;
        top: 30px;


        height: 30px;
        filter: invert(100%);
    }

    .login-inner {
        margin-top: 120px;
        margin-left: 8px;
        margin-right: 8px;
        padding: 15px;
    }

    .inputEmail,
    .inputPW {
        width: 95%;
    }

}