#mainnavbar {
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 1;
}
ul li {
  list-style-type: none;
}

.navbar-nav {
  margin-top: 50px;
  margin-left: 280px;
}

#homelink {
  margin-right: 20px;
  color: white;
}
#homelink:hover {
  color:red
}
.nav-link a{
 color: white;
 font-size: 1.5em;
 text-decoration: none;
}

#dropdown01 {
  color: white;
  font-size: 1.5em;
}

.dropdown-menu {
  margin-left: 320px;
  
  background-image: url("../imgVid/darkbg.jpg");
}

.dropdown-item {
  font-size: 1.3em;
  color: white;
}

.popup { 
  font-family: inherit;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 14px;
  margin-left: 10px;
}

.logout {
  display: inline;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.203);
  border: none;
  color: white;
  font-size: 1.4em;
  width: 320px;
  height: 30px;
  right: 0;
  margin-right: 400px;
}

.search {
  position: absolute;
  right: 0;
  margin-right: 160px;
  margin-top: 14px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid red;
  border-radius: 3px;
  color: white;
  background-color: rgb(39, 37, 37);
  font-size: 1.2em;
}

.searchButton {
  position: absolute;
  right: 0;
  margin-right: 100px;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font-size: 1.2em;
}

#shoppingCart {
  position: absolute;
  display: block;
  margin-top: 26px;
  right: 0;
  color: white;
  margin-right: 40px;
}

#shoppingCart:hover {
  color: red;
}

#adminBtn {
position: absolute;
right: 0;
top:0;
margin-top: 10px;
margin-right: 20px;
z-index: 99;
}

@media screen and (max-width: 600px) {

  #navbarSupportedContent {
    margin-top: 150px;
  }

  .navbar-toggler-icon {
    position: absolute;
    border: none;
    left: 0;
    margin-left: 15px;
    background-image: url("../imgVid/icons-circle-around-64.png");
    width: 35px;
    height: 35px;
    animation: rotation 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}
