.formReg {
    color: black;
    background-color: brown;
    height: 700px;
    text-align: center;

    background-image: url('../imgVid/LogoRotated.png');
    background-repeat: no-repeat;
    

    height: 500px;
}
