.scroll-to-top a{
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  height: 50px;
  width: 30px;
  border-top: 6px solid red;
  border-left: 0.1px solid red;
  border-right: 0.1px solid red;
  border-radius: 50%;
  font-size: 1.8em;
  font-weight: 800;
  text-decoration: none;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 15px;
  z-index: 99;
  box-shadow: rgb(38, 57, 77) 0px 20px 20px -5px;
}

@media (max-width: 992px) {
  .scroll-to-top a{
    margin-bottom: 80px;

  }
}