.main-footer {
    bottom: 0;
    width: 100%;
    background-color: grey;
    padding-top: 100px;
    
}
.col{
    text-align: justify;
    
}



.col-sm{
    text-align: center;
    padding-top: 100px;
}