.main-footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: grey;
    padding-top: 100px;
    
    
}
.up {
    position: relative;
}
.col{
    text-align: center;
    
}



.col-sm{
    text-align: center;
    padding-top: 100px;
}