.logo {
  font-family:'Rubik', sans-serif;
  letter-spacing: 15px;
  text-shadow: -12px -12px 4px #777;
  font-size: 64px;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  margin-left: 20px;
  padding-top: 20px;  
}
#header h1:first-letter {
  color: red;
  font-size: 78px;
}

.navbar-toggler , .navbar-toggler:checked {
  border: 0px !important;
  background-color: transparent;
}

.navbar-nav {
  text-align: center;
}
.nav-item { 
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  margin-top: 40px;

  
}
.search {
  position: fixed;
  background-color: transparent;
  margin-top: 40px;
  right: 0;
  margin-right: 80px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  border-radius: 3px;
  background-color: rgb(14, 13, 13);
  
}
.searchButton {
  position: fixed;
  margin-top: 40px;
  right: 0;
  margin-right: 20px;
  border: none;
  background-color: rgb(200, 196, 196);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .navbar-nav{
    margin-top: 80px;
  }
  .search {
    background-color: white;
  }
  .nav-item {
    margin-top: 5px;
    margin-left: 15px;
    background-color: white
  }
 
}