nav {
  margin-bottom: 800px;
}

#header {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 15px;
  text-shadow: -12px -12px 4px #777;
  font-size: 64px;
  font-weight: 600;
  -webkit-text-stroke: 1px white;
  margin-left: 20px;
  padding-top: 20px;
}

#header:first-letter {
  color: red;
  font-size: 78px;
}
#shoppingCart {
  position: fixed;
  top: 0;
  right: 0;
  color: black;
  margin-right: 30px;
  margin-top: 30px;
}
#shoppingCart:hover{
  color: red;
}
.navbar-toggler,
.navbar-toggler:checked {
  border: 0px !important;
  background-color: transparent;
}

.navbar-nav {
  text-align: center;
}

.nav-item a {
  margin-left: 20px;
  color: white;
  letter-spacing: 2px;
  -webkit-text-stroke: 0.3px white;
  font-size: 28px;
  font-weight: 500;
  margin-top: 40px;

}

.nav-item a:hover {
  color: red;
}

.search {
  position: fixed;
  background-color: transparent;
  margin-top: 40px;
  right: 0;
  margin-right: 80px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  border-radius: 3px;
  color: white;
  background-color: rgb(14, 13, 13);

}

.searchButton {
  position: fixed;
  margin-top: 40px;
  right: 0;
  margin-right: 25px;
  border: none;
  background-color: rgb(200, 196, 196);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .navbar-nav {
    margin-top: 80px;
  }

  #header {
    display: inline-block;
  }
  .search {
    position: fixed;
    background-color: white;
  }

  .nav-item a {
    color: black;
    text-align:  center;
    margin-right: 15px;
    margin-top: 5px;
    background-color: white
  }

  #shoppingCart {
    margin-top: 30px;
    margin-right: 10px;

  }
}