.scroll-to-top a{
  color: white;
  text-align: center;
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 800;
  padding-top: 7px;
  text-decoration: none;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 15px;
  z-index: 99;
}