.scroll-to-top a{
  color: white;
  background-color: black;
  border-radius: 25%;
  padding: 3px 7px 3px 8px;
  font-size: 1.5em;
  text-decoration: none;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 15px;
  z-index: 99;
}