  html {
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    max-height: 1020px;
    max-width: 1920px;
    background-color: rgba(0, 0, 0, 0.547);
  }

  .container {
    margin-top: 50px;
  }