  html {
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    background-color: gray;
  }

  #logo {
    position: absolute;
    margin:15px;
    height: 180px;
    z-index: 3;
  }