  html {
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    background-image: url("./components/imgVid/darkbg.jpg");
    background-repeat: no-repeat;
  }

  #logo {
    position: absolute;
    margin: 15px;
    height: 180px;
    z-index: 3;
  }
  .container {
    min-height: 750px;
  }

  @media screen and (max-width: 600px) {
    .container {
      margin-top: 420px;
    }
  }